
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #E3F2FD;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #000;
}

.chat-container {
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.messages {
  height: 300px;
  overflow-y: auto;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
}

.messages p {
  margin: 10px 0;
}

#messageForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-top: 1px solid #ddd;
}

#messageForm input[type="text"],
#messageForm input[type="file"],
#messageForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

#messageForm input[type="file"] {
  background: #fff;
  cursor: pointer;
}

#messageForm button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #724ae8;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

#messageForm button:hover {
  background-color: #5f3dc4;
}

.button-group {
  display: flex;
  gap: 10px;
}

.button-group button {
  flex: 1;
}

@media (max-width: 490px) {
  .chat-container {
    width: 100%;
    border-radius: 0;
  }

  .messages {
    height: 80%;
    padding: 25px 15px 100px;
  }

  #messageForm {
    padding: 10px 5px;
  }
}
